<article class="section-neutral-primary">
  <div class="pure-g">
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-3-4 center">
      <h1>{{site.data.translations.hero_title[page.lang]}}</h1>
      <p>{{site.data.translations.hero_description[page.lang]}}</p>
      <div class="centering-div">
        <a href="#basic" class="pure-button button-large button-primary">{{site.data.translations.begin_reading[page.lang]}}</a> <a href="{{site.data.translations.supported_langs[page.lang].prefix}}/guides/" class="pure-button button-large button-primary lg-hide">{{site.data.translations.guides_available_title[page.lang]}}</a>
      </div>
    </div>
  </div>
</article>
    
{% for file in site.data.commands %}
{% assign section = file[0] %}
{% assign title = file[0] | append: '_section_title' %}
{% assign description = file[0] | append: '_section_description' %}
<article class="commands-section section-neutral-primary" id="{{section}}">
  <div class="pure-g">
      <div class="pure-u-md-1-8"></div>
      <div class="pure-u-1 pure-u-md-3-4">
      <h2 class="center">{{site.data.translations.[title][page.lang]}}</h2>
      <p class="center">{{site.data.translations.[description][page.lang]}}</p>

      <div class="command-list">

        {% for command in site.data.commands.[section] %}
        <div class="command-container">
          <div class="command-details">
            <code class="command-name{% if page.direction == "rtl" %} general-rtl{% endif %}" dir="ltr">{{command.command}}</code>
            <div class="command-description{% if page.direction == "rtl" %} general-rtl{% endif %}">{{command.descriptions[page.lang]}}</div>
            {% include body-copy-button.html data-command=command.command %}
          </div>
          <div class="command-show-section">
            {% include body-terminal-details.html content=command %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</article>
{% endfor %}

<article class="commands-section section-neutral-primary" id="more">
  <div class="pure-g">
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-1 pure-u-md-3-4 center">
      <p>{{site.data.translations.more_coming_soon[page.lang]}}</p>
      <div class="centering-div">
        <a href="{{site.data.translations.supported_langs[page.lang].prefix}}/guides/" class="pure-button button-large button-primary">{{site.data.translations.guides_available_title[page.lang]}}</a>
      </div>
    </div>
  </div>
</article>