<footer>
  {% include body-shareicons.html %}
  <div class="footer-links">
    <a class="text-decoration-none" href="mailto:hello@terminalcheatsheet.com" target="_blank" rel="noopener">{{site.data.translations.contact[page.lang]}}</a>
    |
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd_VNaBk6qYdvOH6QUo4_I4W3Vk2Jskvm5WcmBX1usy60t3vg/viewform" class="text-decoration-none" target="_blank" rel="noopener">{{site.data.translations.feedback[page.lang]}}</a>
  </div>

  <p dir="ltr">
    Designed and implemented by
    <a href="https://www.alinagi.com" target="_blank">Ali Nagi</a> and
    <a href="https://mattj.io" target="_blank">Matt Joseph</a>.
  </p>
  
  <p dir="ltr">&copy; Terminal Cheat Sheet, 2025</p>
</footer>