<footer>
  {% include body-shareicons.html %}
  <div class="footer-links">
    <a class="text-decoration-none" href="mailto:hello@terminalcheatsheet.com" target="_blank" rel="noopener">{{site.data.translations.contact[page.lang]}}</a> | <a href="https://rebrand.ly/TCSFeedback" class="text-decoration-none" target="_blank" rel="noopener">{{site.data.translations.feedback[page.lang]}}</a>
  </div>
  <p>&copy; Terminal Cheat Sheet, 2020</p>
  <amp-script layout="container" src="{{ site.url }}/preload.js"><span>.</span></amp-script>
</footer>