  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{site.data.translations.site_description[page.lang]}}{% endif %}">
  
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:image" content="/launcher-icon-10x.png" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{site.data.translations.site_description[page.lang]}}{% endif %}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
  
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffccbc">
  <link rel="apple-touch-icon" href="/launcher-icon-4x.png">