<script>
  if (navigator && navigator.serviceWorker) {
    navigator.serviceWorker.register("/sw.js");
  }
</script>

<script src="/termynal.js"></script>

<script>
  let terminalAnimationTracker = [];

  function copyRequestHandler(event) {
    const stringToCopy = event.target.getAttribute("data-command");
    if (stringToCopy && stringToCopy != "") {
      navigator.clipboard.writeText(stringToCopy);
    }
  }

  // Once the page is ready, go through it and add progressive enhancements.
  // These require JavaScript, but the page will work without it!
  window.addEventListener('DOMContentLoaded', (event) => {
    // Grab all copy buttons on the page by class.
    const copyButtons = document.querySelectorAll('.copy-button')
    copyButtons.forEach(button => {
      // Add a click listener.
      button.addEventListener('click', copyRequestHandler);
      // Enable the button.
      button.disabled = false;
    });

    // Grab all the show terminal details elements on the page by class.
    const showTerminals = document.querySelectorAll('.show-terminal-details');
    let numberOfTerminals = 0;
    showTerminals.forEach(showTerminalElement => {
      showTerminalElement.setAttribute("data-terminal-number", numberOfTerminals);
      numberOfTerminals++;
      showTerminalElement.addEventListener("toggle", (event) => {
        if (event.target.open) {
          // When the details element is opened, create a new animation using Termynal.
          // Save it in the array so we don't create duplicates and don't leak memory.
          const termynalHolder = showTerminalElement.querySelector(".termynal-holder");
          terminalAnimationTracker[showTerminalElement.getAttribute("data-terminal-number")] = new Termynal(termynalHolder);
          showTerminalElement.querySelector(".show-more").classList.toggle("hidden");
          showTerminalElement.querySelector(".show-less").classList.toggle("hidden");
          console.log("Details was opened!");
        } else {
          // Detele it from the array so we don't leak memory.
          delete terminalAnimationTracker[showTerminalElement.getAttribute("data-terminal-number")];
          showTerminalElement.querySelector(".show-more").classList.toggle("hidden");
          showTerminalElement.querySelector(".show-less").classList.toggle("hidden");
          console.log("Details was closed!");
        }
      });
    });
  });
</script>
